.page__costumers{
    &:not(:last-child) {margin-bottom: 10px;}
}

.costumers{
    padding: 50px 0;
    @media (max-width: 767px) {
            & {
                padding: 30px 0;
            }
        }
}

.costumers__items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.costumers__item{
    padding: 8px 15px;
    flex:  0 1 16.6667%;
    text-align: center;
    min-width: 140px;
    & img{
        max-width: 100%;
    }

}