
.footer__top{
    background-color: #17213C;
    padding: 30px 0;

}

.footer__row{
    display: flex;
    margin: 0px -15px;
    @media (max-width: 945px) {
            flex-wrap: wrap;
        }
}
.footer__column{
    padding: 20px 15px;
    flex: 0 1 16.6667%;
   
&:last-child{
    flex: 0 1 33.334%;
}
@media (max-width: 992px) {
    flex: 0 1 25%;
    &:last-child {
            flex: 1 1 100%;
        }
}
@media (max-width: 700px) {
    flex: 0 1 50%;

}

}
.footer__label{
    color:#FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.1px;
    margin-bottom: 20px;
}

.menu-footer__item{
    &:not(:last-child){
        margin-bottom: 10px;

    }

}
.menu-footer__link{
    color: #FFFFFF;
    font-weight: 600;
    line-height: 1.71;
    letter-spacing: 0.2px;
    &:hover {
            text-decoration: underline;
            color: #FF7B47;
        }

}

.contacts-footer{
    display: flex;
    flex-direction: column;

}
.contacts-footer__item{
    &:not(:last-child){
        margin-bottom: 12px;
    }
    &:hover{
        text-decoration: underline;
        color: #FF7B47;
    }
    padding-left: 34px;
    display: flex;
    align-items: center;
    min-height: 30px;
        font-weight: 600;
        line-height: 1.71;
        letter-spacing: 0.2px;
        color: #FFFFFF;

}
.contacts-footer__item_phone{
    background: url("/img/footer/bx_bx-phone.png") left no-repeat;

}
.contacts-footer__item_map{
    background: url("/img/footer/bx_bx-map.png") left no-repeat;

}
.contacts-footer__item_email{
    background: url("/img/footer/carbon_send-alt.png") left no-repeat;

}
.footer__bootom{
    padding: 25px 0;

}
.footer__container{
    display: flex;
        justify-content: space-between;
        align-items: center;
    @media (max-width: 767px){
        flex-direction: column;
        
    }
    
}
.footer__copy{
    font-weight: 600;
        line-height: 1.71;
        letter-spacing: 0.2px;
        color: #737373;
        @media (max-width: 767px) {
                margin-bottom: 15px;
                text-align: center;
        
            }

}

.social{
    display: flex;
    align-items: center;

}
.social__item{
    transition: transform 0.2ms;
    &:not(:last-child){
        margin-right: 20px;
    }
&:hover{
    transform: scale(1.2);
}
}
.social__item-icon{
width: 24px;
height: 24px;
}